/*CSS reset. Source: https://www.paulirish.com/2012/box-sizing-border-box-ftw/*/
html {
    box-sizing: border-box; font-size: 10px;
}
   *, *::before, *::after {
    box-sizing: inherit; margin: 0; padding: 0;
}
/*Set page size*/
body {
    width: 8.5in; height: 11in; font-size: 10pt !important; margin: auto !important; color: #0A0909 !important; font-family: 'Alegreya Sans', 'Josefin Sans', 'Overpass', sans-serif !important;
}
@font-face {
    font-family: "Aggressive Winter";
    src: url(./AgressiveWinter-MVdGp.ttf) format("truetype"), url(../AgressiveWinter-rgdAx.otf) format("opentype");
}
@font-face {
    font-family: "Vtks Velhos Tempo";
    src: url(../VtksVelhosTempos-Awv7.ttf) format("truetype");
}
/*Header*/
header {
    display: flex; width: 100%; height: 98px; justify-content: space-between; background-image: url("../banner.png"); background-size: 816px 125px;  background-color: transparent; padding: 5px 10px 1px; position: relative;
}
header>h1 {
    margin: auto; z-index: 0; font-family: "Vtks Velhos Tempo", "Aggressive Winter", 'Alegreya Sans', 'Josefin Sans', 'Overpass', sans-serif; margin-bottom: 27px;
}
header::before {
    position: absolute; content: ""; background-color: rgba(255, 255, 255, .6); inset: 0;
}
header>input, header>form {
    background: transparent; position: relative; z-index: 1;
}
header>input {
    width: 37%; text-align: center; border: 10px solid black; border-image: url(../borders-png-22972.png) 40 round;
}
header form.classinfo label {
    font-size: 8pt;
}
header>form.classinfo {
    border: 10px solid black; width: 62%; display: grid; grid-template-columns: 1fr 1fr 1fr; border-image: url(../borders-png-22972.png) 40 round;
}
.classinfo>fieldset {
    margin-top: -3px;
}
header>form.spellabs {
    border: 10px solid black; width: 62%; border-image: url(../borders-png-22972.png) 40 round;
}
.abs, .dc, .bonus {
    width: 116px;
}
.spellabs input {
    width: 50px; height: 50px; border: 1px solid black; background: transparent; margin: 0 auto;
}
#clslvl {
    order: 1;
}
.clslvl {
    order: 4;
}
#background {
    order: 2;
}
.background {
    order: 5;
}
#playername {
    order: 3;
}
.playername {
    order: 6;
}
#race {
    order: 7;
}
.race {
    order: 10;
}
#alignment {
    order: 8;
}
.alignment {
    order: 11;
}
#xp {
    order: 9;
}
.xp {
    order: 12;
}
header>form>fieldset {
    display: inline-block;
}
header>form.classinfo input {
    border: none; border-bottom: 2px inset; background: transparent; width: 100%;
}
header>input#name[type=text] {
    font-size: 20pt !important;
}
header>input#class {
    font-size: 16pt;
}
/*Nav*/
.btn-primary {
    margin-left: 10px;
}
.mybtn {
    width: 100px; height: 50px; font-size: x-large; border-radius: 5px; font-family: "Aggressive Winter", "Vtks Velhos Tempo", 'Alegreya Sans', 'Josefin Sans', 'Overpass', sans-serif;
}
.mybtn, .btn-primary {
    background-color: #B7410E !important; border-color: #521A02 !important;
}
.mybtn:hover, .btn-primary:hover {
    background-color: #914829 !important;
}
a {
    color: #B7410E !important;
}
a:hover {
    color: #914829 !important;
}
/*Main*/
main {
    display: grid; grid-template-columns: 1fr 1fr 1fr; grid-template-rows: 1fr 1fr 1fr; gap: 10px; padding: 1px 10px 5px; height: calc(100% - 117px);/*This will need to be modified once header and nav are styled properly*/
}
main.spellspg {
    display: flex; flex-direction: column; flex-wrap: wrap; gap: 0; justify-content: space-between;
}
section {
    border: 10px solid black !important; background-color: rgba(191, 163, 151, .4); border-image: url(../borders-png-22972.png) 40 round !important;
}
.spellspg>section {
    width: 33%; border-image: url(../borders-png-22972.png) 20 round !important; border-width: 2px !important;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.lvl>input[type='text'], .cantrip>input {
    border: none; border-bottom: 2px inset; background: transparent;  border-color: rgba(0,0,0,.7); padding-top: 1px;
}
.cantrip>input {
    width: 100%;
}
.lvl>input[type='text'] {
    width: 94%;
}
main.login {
    display: inline-block; width: 100%;
}
.login fieldset {
    text-align: center;
}
.login fieldset>div {
    display: grid; grid-template-columns: 1fr 1fr; justify-content: center; margin: 0 auto; width: max-content; text-align: end;
}
.login .left>label {
    padding: 2px 0;
}
.login fieldset img {
    margin-top: 20px; margin-bottom: 20px; border-radius: 10%;
}
/*Abilities*/
.profinspo {
    display: grid; grid-template-columns: 1fr 3fr; grid-template-rows: 1fr 1fr; margin-top: -5px;
}
.prof, .inspo, .ability, .passive, .deftop {
    padding: 2px 0;/*Other sections added here*/
}
#prof, #inspo, #passive {
    width: 100%; height: 30px; border-image: url(../borders-png-22972.png) 20 round; border-width: 2px;
}
#prof, #passive, #speed, #init, #ac, #hpcurrent, #hpmax, #tmp, #totalhd, #hd, #abs, #dc, #bonus {
    text-align: center;/*Many number inputs here, not just abilities*/
}
.prof, .inspo, .passive {
    text-align: center; align-items: center;
}
ul {
    list-style-type: none; padding: 5px 0 0; padding-left: 10px !important; margin-bottom: 0 !important; font-size: smaller; border-top: 2px solid black; border-image: url(../borders-png-22972.png) 20 round;
}
hr {
    margin: -2px 0 2px !important;
}
.ability input[type=number] {
    font-size: x-large; text-align: center;
}
.abilities {
    grid-row: 1/3;
}
.ability {
    display: grid; grid-template-columns: 1fr 1fr;
}
.ability>label {
    border: 2px solid black; background-color: white; display: grid; grid-template-rows: 3fr 3fr 2fr; justify-content: space-around; border-image: url(../borders-png-22972.png) 20 round;
}
.ability>label>input {
    width: 50px; height: 30px; border: none; background: transparent; margin: 0 auto;
}
.ability output {
    border: 5px solid black; text-align: center; font-size: larger; border-image: url(../borders-png-22972.png) 10 round;
}
.passive {
    display: grid; grid-template-columns: 1fr 3fr;
}
/*Defenses*/
.deftop, .defbottom, .spellabs {
    display: flex; text-align: center; align-items: center; justify-content: space-between; /*flex-basis: 0;*/
}
.speed, .init, .ac {
    border: 2px solid black; background-color: white; width: 80px; border-image: url(../borders-png-22972.png) 20 round;
}
.defense>label>input, .deftop input, #hpcurrent, #hd {
    width: 50px; height: 50px; border: none; background: transparent; margin: 0 auto;/*Other inputs added here*/
}
.hp {
    border: 2px solid black; background-color: white; border-image: url(../borders-png-22972.png) 20 round;
}
#hpmax {
    border: none; border-bottom: 2px inset; background: transparent; width: 58%;
}
.hptop {
    display: flex;
}
.hpbottom, .hdbottom {
    display: flex; flex-direction: column; text-align: center; 
}
.defense>label {
    border: 2px solid black; background-color: white; display: grid; grid-template-rows: 3fr 1fr; justify-content: space-around; border-image: url(../borders-png-22972.png) 20 round;
}
.hd, .ds {
    border: 2px solid black; background-color: white; width: 124px; border-image: url(../borders-png-22972.png) 20 round;
}
#totalhd {
    border: none; border-bottom: 2px inset; background: transparent; width: 70%;
}
.ds {
    height: 94px;
}
.ds>label {
    float: right; padding: 5px 0;
}
.ds>label.failds {
    padding-bottom: 10px;
}
.hp, .tmp, .defbottom {
    margin: 2px 0;
}
.person textarea {
    width: 100%; border-image: url(../borders-png-22972.png) 20 round; border-width: 2px;
}
.attack>textarea {
    width: 100%; height: 88%; border-image: url(../borders-png-22972.png) 20 round; border-width: 2px;
}
.other>textarea {
    width: 100%; height: 75%; border-image: url(../borders-png-22972.png) 20 round; border-width: 2px;
}
.other, .features, .attack, .equip, .person {
    text-align: center;
}
#cp, #sp, #ep, #gp, #pp {
    width: 26px; border-image: url(../borders-png-22972.png) 20 round; border-width: 2px;
}
.equip>aside {
    float: left; position: absolute; z-index: 1;
}
.equip>aside>form {
    display: flex; justify-content: end;
}
.equip>#equip {
    width: 100%; height: 49.3%; padding-left: 45px; margin-bottom: 0; padding-bottom: 0; border-bottom: none;
}
.equip>.equip2 {
    width: 100%; height: 40%; margin-top: -5px; padding-top: 0; border-top: none;
}
.equip, .equip>label, .equip>textarea {
    position: relative; border-image: url(../borders-png-22972.png) 20 round; border-width: 2px;
}
.features {
    grid-row: 2/4; grid-column-start: 3;
}
.features>textarea {
    width: 100%; height: 94.9%; border-image: url(../borders-png-22972.png) 20 round; border-width: 2px;
}
