/*CSS reset. Source: https://www.paulirish.com/2012/box-sizing-border-box-ftw/*/
html {
    box-sizing: border-box; font-size: 10px;
}
   *, *::before, *::after {
    box-sizing: inherit; margin: 0; padding: 0;
}
/*Set page size*/
body {
    width: 8.5in; height: 11in; font-size: 10pt !important; margin: auto !important;
}
/*Header*/
header {
    display: flex; width: 100%; justify-content: space-between; background-image: url("/banner.png"); background-size: 816px 125px;  background-color: transparent; padding: 5px 10px 1px; position: relative;
}
header::before {
    position: absolute; content: ""; background-color: rgba(255, 255, 255, .6); inset: 0;
}
header>input, header>form {
    background: transparent; position: relative;
}
header>input {
    width: 37%;
}
header form label {
    font-size: 8pt;
}
header>form {
    border: 1px solid black; width: 62%; display: grid; grid-template-columns: 1fr 1fr 1fr;
}
#clslvl {
    order: 1;
}
.clslvl {
    order: 4;
}
#background {
    order: 2;
}
.background {
    order: 5;
}
#playername {
    order: 3;
}
.playername {
    order: 6;
}
#race {
    order: 7;
}
.race {
    order: 10;
}
#alignment {
    order: 8;
}
.alignment {
    order: 11;
}
#xp {
    order: 9;
}
.xp {
    order: 12;
}
header>form>fieldset {
    display: inline-block;
}
header>form input {
    border: none; border-bottom: 2px inset; background: transparent; width: 100%;
}
/*Nav*/
.btn-primary {
    margin-left: 10px;
}
/*Main*/
header>input[type=text] {
    font-size: 20pt !important;
}
main {
    display: grid; grid-template-columns: 1fr 1fr 1fr; grid-template-rows: 1fr 1fr 1fr; gap: 10px; padding: 1px 10px 5px; height: calc(100% - 117px);/*This will need to be modified once header and nav are styled properly*/
}
section {
    border: 1px solid black; background-color: gainsboro;
}
/*Abilities*/
.profinspo {
    display: grid; grid-template-columns: 1fr 3fr; grid-template-rows: 1fr 1fr;
}
.prof, .inspo, .ability, .passive, .deftop {
    padding: 2px 0;/*Other sections added here*/
}
#prof, #inspo, #passive {
    width: 100%; height: 30px;
}
#prof, #passive, #speed, #init, #ac, #hpcurrent, #hpmax, #tmp, #totalhd, #hd {
    text-align: center;/*Many number inputs here, not just abilities*/
}
.prof, .inspo, .passive {
    text-align: center; align-items: center;
}
ul {
    list-style-type: none; padding: 5px 0 0; padding-left: 10px !important; margin-bottom: 0 !important; font-size: smaller;
}
hr {
    margin: -2px 0 2px !important;
}
.ability input[type=number] {
    font-size: xx-large; text-align: center;
}
.abilities {
    grid-row: 1/3;
}
.ability {
    display: grid; grid-template-columns: 1fr 1fr;
}
.ability>label, .defense>label {
    border: 1px solid black; background-color: white; display: grid; grid-template-rows: 3fr 1fr; justify-content: space-around;/*Some defenses added here*/
}
.ability>label>input, .defense>label>input, .deftop input, #hpcurrent, #hd {
    width: 50px; height: 50px; border: none; background: transparent; margin: 0 auto;/*Some defenses added here*/
}
.ability>ul {
    border-top: 1px solid black;
}
.passive {
    display: grid; grid-template-columns: 1fr 3fr;
}
/*Defenses*/
.deftop, .defbottom {
    display: flex; text-align: center; align-items: center; justify-content: space-between; flex-basis: 0;
}
.speed, .init, .ac {
    border: 1px solid black; background-color: white; width: 80px;
}
.hp {
    border: 1px solid black; background-color: white;
}
#hpmax {
    border: none; border-bottom: 2px inset; background: transparent; width: 58%;
}
.hptop {
    display: flex;
}
.hpbottom, .hdbottom {
    display: flex; flex-direction: column; text-align: center; 
}
.hd, .ds {
    border: 1px solid black; background-color: white; width: 124px;
}
#totalhd {
    border: none; border-bottom: 2px inset; background: transparent; width: 70%;
}
.ds {
    height: 94px;
}
.ds>label {
    float: right; padding: 5px 0;
}
.ds>label.failds {
    padding-bottom: 10px;
}
.hp, .tmp, .defbottom {
    margin: 2px 0;
}
.person {
    
}
.other>textarea, .features>textarea, .attack>textarea {
    width: 100%; height: 75%;
}
.other, .features, .attack {
    text-align: center;
}
.equip {
    
}
.features {
    grid-row: 2/4; grid-column-start: 3;
}